.activity-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #2b7a78;
}

.headerTwo {
    padding-left: 50px;
    color: antiquewhite;
}

.activity-select-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px 50px;
}

.header {
    padding-left: 50px;
}

.activity-calculate-container {
    background-color: #17252a;
}

@media screen and (max-width: 576px) {

    .activity-select-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
    }

}